/* fonts.css */
@font-face {
    font-family: 'Founders Grotesk';
    src: url('/fonts/FoundersGrotesk-Regular.woff2') format('woff2'), /* modern browsers */
         url('/fonts/FoundersGrotesk-Regular.woff') format('woff'); /* older browsers */
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Founders Grotesk';
    src: url('/fonts/FoundersGrotesk-Semibold.woff2') format('woff2'), /* modern browsers */
         url('/fonts/FoundersGrotesk-Semibold.woff') format('woff'); /* older browsers */
    font-weight: 600; /* semibold font weight */
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Neue Montreal';
    src: url('/fonts/NeueMontreal-Regular.woff2') format('woff2'), /* modern browsers */
         url('/fonts/NeueMontreal-Regular.woff') format('woff'); /* older browsers */
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Icomoon';
    src: url('/fonts/icomoon.woff') format('woff'); /* all browsers */
    font-weight: normal;
    font-style: normal;
  }
  